In [1]:
import numpy as np
import pandas as pd
import csv

In [57]:
df = pd.DataFrame({'puzzle':[], 'mean_givens':[], 'min_givens':[], 'max_givens':[]})
df = df[['puzzle', 'mean_givens', 'min_givens', 'max_givens']]
dims = [2, 3, 4]
N = 9998
ind = 0

for dim in dims:
    xx = dim ** 4
    yy = dim ** 2
    puzzles = np.zeros((N, xx), np.int32)
    solutions = np.zeros((N, xx), np.int32)
    for i, line in enumerate(open('../resources/sudoku_{}_save.csv'.format(dim), 'r').read().splitlines()[1:N + 1]):
        puzzle, solution = line.split(",")
        for j, q_s in enumerate(zip(puzzle.split(' '), solution.split(' '))):
            q, s = q_s[0], q_s[1]
            puzzles[i, j] = q
            solutions[i, j] = s
    puzzles = puzzles.reshape((-1, yy, yy))
    solutions = solutions.reshape((-1, yy, yy))
    
    givens = []
    for puzzle in puzzles:
        p = puzzle.tolist()
        counter = 0
        for i in np.arange(1, dim**2+1):
            for j in np.arange(1, dim**2+1):
                if p[i-1][j-1] != 0:
                    counter += 1
        givens.append(counter)
    givens = np.array(givens)
    
    df.loc[ind] = [dim, givens.mean(), givens.min(), givens.max()]
    ind += 1

In [58]:
df5 = pd.DataFrame({'puzzle':[], 'mean_givens':[], 'min_givens':[], 'max_givens':[]})
df5 = df5[['puzzle', 'mean_givens', 'min_givens', 'max_givens']]
dim5 = 5
N = 5000
xx = dim5 ** 4
yy = dim5 ** 2
puzzles = np.zeros((N, xx), np.int32)
solutions = np.zeros((N, xx), np.int32)
for i, line in enumerate(open('../resources/sudoku_{}_save.csv'.format(dim5), 'r').read().splitlines()[1:N + 1]):
    puzzle, solution = line.split(",")
    for j, q_s in enumerate(zip(puzzle.split(' '), solution.split(' '))):
        q, s = q_s[0], q_s[1]
        puzzles[i, j] = q
        solutions[i, j] = s
puzzles = puzzles.reshape((-1, yy, yy))
solutions = solutions.reshape((-1, yy, yy))

givens = []
for puzzle in puzzles:
    p = puzzle.tolist()
    counter = 0
    for i in np.arange(1, dim**2+1):
        for j in np.arange(1, dim**2+1):
            if p[i-1][j-1] != 0:
                counter += 1
    givens.append(counter)
givens = np.array(givens)

df5.loc[0] = [dim5, givens.mean(), givens.min(), givens.max()]

In [59]:
df

   puzzle  mean_givens  min_givens  max_givens
0     2.0     4.987798         4.0         6.0
1     3.0    28.042809        19.0        40.0
2     4.0   109.124825        96.0       126.0

In [60]:
df5

   puzzle  mean_givens  min_givens  max_givens
0     5.0     119.8866       103.0       138.0